/* <<<<<<<<<<  App Level  >>>>>>>>>> */

.App {
    display: flex;
    justify-content: center;
}

.weather {
    width: 100%;
    max-width: 950px;
    border: 2px solid black;
    border-radius: 0.75rem;
    margin-top: 5%;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    padding: var(--globle-padding);
    background-color: black;
    color: white;
}

.city-name {
  font-family: 'Exo';
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
}

/* <<<<<<<<<<  CurrentWeather  >>>>>>>>>> */

.CurrentWeather {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.temp-text {
    position: relative;
    font-family: 'Exo';
    transform: skew(-15deg);
    font-size: 9.5rem;
    display: flex;
    margin: 0;
}

.temp-text::after {
  content: '';
  position: absolute;
  top: -0.1em;
  right: 0.05em;
  width: 0.4em;
  height: 0.4em;
  background: 
    radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
    radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
    radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
  background-repeat: no-repeat;
}
  
.CurrentWeather__temp:first-of-type {
  display: block;
  text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
  -webkit-text-stroke: 0.06em rgba(black, 0.5);
}

.CurrentWeather__temp:last-of-type {
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
  -webkit-text-stroke: 0.01em #94a0b9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CurrentWeather__img-contianer {
  padding: var(--globle-padding);
  max-width: 300px;
}
/* <<<<<<<<<<  DailyWeather  >>>>>>>>>> */

.DailyWeather {
    display: flex;
    padding: var(--globle-padding);
}

.retro-lingo {
  position: absolute;
  left: 45px;
  top: 0;
  font-size: 42px;
  transform: rotate(-24deg);
  font-family: 'Mr Dafoe';
  margin: 0;
  font-size: 5.5em;
  margin-top: -0.6em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;

}

/* <<<<<<<<<<  Day  >>>>>>>>>> */

.Day {
    padding: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid hotpink;
    justify-content: space-between;
}

.Day__text {
  text-align: center;
  margin-top: 5px;
}
.Day__img {
    width: 100%;
}

.Day__temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Day__temp-text {
    margin: 5px;
}

.Day__img-contianer.img-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.climate-text {
    text-align: center;
    margin: 5px 0px;
    font-family: 'Exo';
}